@model IEnumerable<WebAppVilla.Models.Property>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-3">
            <div class="info-table">
                <ul>
                    <li>Total Flat Space <span>@item.Area m </span></li>
                    @*<li>Floor number <span>26th</span></li>*@
                    <li>Number of rooms <span>@item.Rooms</span></li>
                    <li>Parking Available <span>@item.Parking</span></li>
                    <li>Payment Process <span>@item.PaymentProcess</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="@item.ImageUrl" alt="">
        </div>
        <div class="col-lg-3">
            <h4>Detail Info About Villa</h4>
            <p>@item.Description</p>
            <div class="icon-button">
                <a href=""><i class="fa fa-calendar"></i> Schedule a visit</a>
            </div>
        </div>
    </div>
}